<h1 align="center">About properties manager site</h1>
<p>This site was created in order to make keeping track of properties much more efficient as well as simplify</p>
<p> the update process.  It also provides companies with the functionality of setting up teams to over see</p>
<p> maintenance and update notes, provide pictures, etc. </p>
<p>Through this companies can maintain a fast reliable system for managing properties</p>
